@import 'style.css';

#lista-desafios ul{
    list-style: none;
    margin-inline: 5%;
    max-height: 35vh;
    overflow-y: auto;
}

#lista-desafios ul li span{
    font-weight: 600;
}

#lista-desafios ul li{
    font-size: 18px;
    line-height: 1.5;
}

#lista-desafios ul li:last-child{
    margin-bottom: 16px;
}

#iniciar{
    background-color: rgba(24, 118, 232, 0.502);
    border: 1px solid #1875E8;
    width: 200px;
    border-radius: 15px;
    padding-block: 16px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
}

#iniciar:hover{
    transform: scale(1.05);
}

.voltar{
    position: fixed; 
    left: 0; 
    top: 0; 
    width: 80px; 
    height: 50px; 
    background-color: rgba(24, 118, 232, 0.502);
    border: 1px solid #1875E8;
    border-radius: 25px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

